.page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__place-holder{
        font-family: 'ProximaNova-Regular';
        margin: 2rem 0 2rem 0;
        font-size: 2.5rem;
    }
    &__banner{
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: 33rem;
        height: 4.3rem;
        padding: 1.5rem 0 1rem 0;
        width: 100%;

        &-headline{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 .5rem 0 0;
        }
        &-content{
            color: inherit;
        }
        &-title{
            font-family: 'Chloe-Regular';
            font-size: 1rem;
            width: 8rem;
            text-decoration: none;
        }
        &-text{
            font-family: 'ProximaNova-Regular';
            font-size: .8rem;
            margin: 1rem 0 0 0;

            & .page__banner-info{
                display: flex;
                flex-direction: row;
            }
        }
    }
    &__cluster{
        display: grid;

    }
    &__node{
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        text-decoration: none;
    }
    &__button{
        font-family: 'ProximaNova-Semibold';
        background-color: #73A8A0;
        text-decoration: none;
        
        &-foward{
            margin: 0 0 0 .7rem;
        }
        &-play{
            display: none;
        }
    }
    &__filler{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        margin: 1rem 0 1rem 0;
        width: 100%;

        &-content{
            display: flex;
            margin: .6rem 0 .6rem 0;
            width: 100rem;
        }
        &-product{
            display: flex;
            flex-direction: column;
            width: 8rem;
            margin: 0 0 0 1rem;

            & a{
                text-decoration: none;
            }
            &-image{
                width: 100%;
                height: 7rem;
            }
            &-name{
                font-family: 'ProximaNova-Regular';
                font-size: .7rem;
                margin: .5rem 0 0 0;
            }
            &-info{
                font-family: 'ProximaNova-Regular';
                font-size: .6rem;
            }
            &-price{
                font-family: 'ProximaNova-Regular';
                font-size: .7rem;
                margin: .5rem 0 0 0;
            }
        }
        &-info{
            width: 40%;
            text-align: center;

            & .page__banner-text{
                font-size: 0.85rem;
                margin: 50% 0 0 0;
                width: 100%;
            }
            & .page__banner-title{
                font-size: 1.5rem;
                width: 100%;
            }
        }
    }
    &__post{
        &-title{
            font-family: 'Chloe-Regular';
            background-color: white;
            font-size: 2.6rem;
            margin: 0 0 3rem 0;
            padding: 0 1vh 0 1vh;
        }
        &-info{
            font-family: 'ProximaNova-Regular';
            display: flex;
            align-content: space-between;
            width: 100%;
        }
        &-banner{
            width: 105%;
            height: 15rem;
        }
        &-type{
            margin: 0 auto 0 0;
        }
        &-onwership{
            margin: 0 0 0 auto;
            & a{
                color: #666666;
                opacity: 0.8;
                text-decoration: none;
            }
        }
        &-article{
            text-align:justify;
            margin: 2rem 0 0 0;

            & p{
                margin: 0 0 1rem 0 ;
                font-family: 'Adamina-Regular';
                font-size: 1rem;
            }
            & h2{
                margin: 0 0 .5rem 0;
                font-family: 'ProximaNova-Bold';
                font-size: 1.7rem;
            }
        }
    }
    &__product{
        display: flex;
        flex-direction: row;
        margin: 3rem 0 0 0;
        width: 100%;
        height: 25rem;
        
        &-image{
            align-self: flex-start;
            margin: auto 0 auto 0;
        }
        &-info{
            margin: 0 auto 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-family: 'ProximaNova-Regular';
            gap: 1rem 0;
        }
        &-button{
            background-color: transparent;
            outline: none;
            font-family: 'ProximaNova-SemiBold';
            color: black;
            border: .1rem solid black;
            width: 100%;
            height: 3rem;
        }
        &-price{
            color: #73A8A0;
        }
    }
    &__redirector{
        text-decoration: none;
        margin: 0 0 2rem 0;
    }
    &__type{
        &-post{
            display: flex;
            flex-direction: row;
            width: 100%;

            & .page__redirector-info{
                display: flex;
                flex-direction: column;
            }
            & .page__redirector-banner{
                margin: 0 0 0 auto;
                width: 10rem;
                height: 5rem;
            }
        }
        &-product{
            display: flex;
            flex-direction: row;
            width: 100%;

            & .--title-info{
                font-size: 1rem;
            }
            & .page__redirector-info{
                padding: 2rem 0 0 .5rem;
            }
            & .page__redirector-banner{
                margin: 0 0 0 auto;
                width: 6.3rem;
                height: 6.3rem;
            }
        }
        &-podcast{
            display: flex;
            flex-direction: row;
            width: 100%;
            & .page__redirector-text{
                margin: 1rem 0 0 0;
                height: 1.1rem;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            & .page__redirector-banner{
                display: flex;
                background-size: 8rem 5rem;
                margin: 0 0 0 auto;
                width: 20rem;
                height: 5rem;
            }
        }
        &-course{
            align-self: center;
            & .page__redirector-banner{
                width: 100%;
            }
            & .page__redirector-info{
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 3rem 1rem 3rem 1rem;
            }
        }
    }
    &__podcast {
        display: flex;
        width: 105%;
        height: 15rem;
        margin: -15rem 0 0 0;
    }
    &__concept-image{
        width: 100%;
        height: 100%;
    }
    &__course{
        &-banner{
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #2e2d2d;
            width: 100%;
            margin: 1rem 0 0 0;
        }
        &-info{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 .5rem 0 1rem;
            gap: .6rem 0;
        }
        &-title{
            font-family: 'ProximaNova-Semibold';
            color: #ffffff;
            font-size: 1.2rem;
        }
        &-type{
            font-family: 'ProximaNova-Thin';
            text-decoration: underline;
            color: #d9d9d9;
            font-size: .9rem;
        }
        &-duration{
            align-self: flex-end;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #D9D9D9;
            margin: 2rem 0 0 0;
            gap: 0 .6rem;
            font-family: 'ProximaNova-Bold';
            font-size: .8rem;

            & svg{
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        &-content{
            margin: 2.5rem 0 0 0;
        }
        &-description{
            font-family: 'ProximaNova-SemiBold';
            text-align: center;
            font-size: 1rem;
        }
    }
}

@media (min-width: 768px){
    .page{
        &__banner{
            &-headline{
                margin: 0 5rem 0 0;
            }
        }
    }
}
@media (min-width: 801px){
    .page{
        &__place-holder{
            margin: 5vh 0 5vh 0;
            font-size: 3vh;
        }
        &__node{
            &:hover{
                cursor: pointer;
            }
            &:hover .page__banner-content{
                transition: all ease-in-out 100ms;
            }
            &:hover .page__banner-title{
                text-decoration: underline;
            }
        }
        &__banner{
            height: 20.5vh;
            background-size: 128vh;
            padding: 3vh 0 3vh 0;

            &-headline{
                margin: 0 20vh 0 0;
            }
            &-title{
                font-size: 4vh;
                width: 35vh;
            }
            &-text{
                font-size: 2vh;
                margin: 2.3vh 0 0 0;
            }
        }
        &__button{
            font-size: 2vh;
            
            &:hover{
                cursor: pointer;
                background-color: #7bb3aa;
            }
            &-play{
                display: inline-block;
                visibility: hidden;
                margin: auto;
                width: 10vh;
                height: 10vh;
            }
        }
        &__filler{
            margin: 2vh 0 2vh 0;
            overflow-x: auto;

            &-content{
                margin: 1vh 0 1vh 0;
                width: 100%;
            }
            &-product{
                width: auto;
                border-bottom: .1vh solid transparent;

                &:hover{
                    cursor: pointer;
                    border-bottom: .1vh solid #c4c4c4;
                }
                &-image{
                    height: 15vh;
                }
                &-name{
                    margin: .8vh 0 0 0;
                    font-size: 1.6vh;
                }
                &-info{
                    margin: .5vh 0 0 0;
                    font-size: 1.4vh;
                }
                &-price{
                    margin: 1vh 0 0 0;
                    font-size: 1.5vh;
                }
            }
            &-info{
                width: 18%;

                & .page__banner-text{
                    font-size: 1.65vh;
                    width: 100%;
                }
                & .page__banner-title{
                    font-size: 3vh;
                }
            }
        }
        &__post{
            &-info{
                font-size: 2vh;
            }
            &-title{
                font-size: 5vh;
                margin: 0 0 5vh 0; 
                padding: 0 1vh 0 1vh;
            }
            &-banner{
                width: 100%;
                height: 70vh;
            }   
            &-article{
                margin: 5vh 0 0 0;

                & p{
                    margin: 0 0 2vh 0;
                    font-size: 2vh;
                }
                & h2{
                    margin: 0 0 3vh 0;
                    font-size: 4vh;
                }
            } 
        }
        &__product{
            margin: 6vh 0 0 0;
            height: 60vh;

            &-button{
                margin: 8.5vh 0 0 0;
                border: .1vh solid black;
                height: 7vh;
                -webkit-transition: background-color ease-in-out .1s;
                -moz-transition: background-color ease-in-out .1s;
                -ms-transition: background-color ease-in-out .1s;
                -o-transition: background-color ease-in-out .1s;
                transition: background-color ease-in-out .1s;

                &:hover{
                    cursor: pointer;
                    background-color: black;
                    color: white;
                }
            }
        }
        &__redirector{
            margin: 0 0 4vh 0;

            &:hover{
                box-shadow: 1.5vh 1.5vh 2.5vh #d9d9d9, 
                            -1.5vh -1.5vh 3.5vh #ffff;
                transition: box-shadow .3s ease-in-out;
                -moz-transition: box-shadow .3s ease-in-out;
            }
        }
        &__type{
            &-post{
                &:hover .--title-info{
                    border-color: #73A8A0;
                }
                & .page__redirector-info{
                    display: flex;
                    flex-direction: column;
                    padding: 6vh 0 5vh 5vh;
                }
                & .page__redirector-banner{
                    margin: 0 0 0 auto;
                    width: 30vh;
                    height: 20vh;
                }
            }
            &-product{
                width: 80%;
                &:hover .--title-info{
                    border-color: #73A8A0;
                }
                & .--title-info{
                    font-size: 2vh;
                }
                & .page__redirector-info{
                    padding: 6vh 0 0 5vh;
                }
                & .page__redirector-banner{
                    width: 16vh;
                    height: 16vh;
                }
            }
            &-podcast{ 
                &:hover .page__redirector-banner{
                    opacity: 0.8;
                }
                &:hover .page__button-play{
                    visibility: visible;
                }
                &:hover .--title-info{
                    border-color: #73A8A0;
                }
                & .page__redirector-text{
                    width: 85%;
                    height: 2.6vh;
                    margin: 1.2vh 0 0 0;
                }
                & .page__redirector-info{
                    display: flex;
                    flex-direction: column;
                    padding: 6vh 0 5vh 5vh;
                }
                & .page__redirector-banner{
                    display: flex;
                    background-size: 30vh 20vh;
                    margin: 0 0 0 auto;
                    width: 37vh;
                    height: 20vh;
                }
            }
            &-course{
                overflow: hidden;
                &:hover .page__redirector-banner{
                    transition: transform ease-in-out .2s;
                    transform: scale(1.04);
                }
                & .page__redirector-info{
                    margin: 5vh 2vh 5vh 2vh;
                }
            }
        }
        &__podcast {
            height: 70vh;
            width: 100%;
            margin: -70vh 0 0 0;
        }
        &__course{
            &-banner{
                margin: 5vh 0 0 0;
            }
            &-info{
                gap: 2vh 0;
                margin: 0 5vh 0 8vh;
            }
            &-title{
                font-size: 5.5vh;
            }
            &-type{
                font-size: 2.75vh;
            }
            &-duration{
                gap: 0 1.5vh;
                margin: 2vh 0 0 0;
                font-size: 2.5vh;
                -webkit-transition: color ease-in-out .2s;
                -moz-transition: color ease-in-out .2s;
                -ms-transition: color ease-in-out .2s;
                -o-transition: color ease-in-out .2s;
                transition: color ease-in-out .2s;

                &:hover{
                    color: #73A8A0;
                }
                & svg{
                    width: 4.5vh;
                    height: 4.5vh;
                }
            }
            &-content{
                margin: 4vh 0 6.4vh 0;
            }
            &-description{
                font-size: 2.5vh;
            }
        }
    }
}