.--light-text{
    color: #ffffff;
}
.--grey-text{
    color: #666666;
}
.--dark-grey-text{
    color:#292929;
}
.--dark-text{
    color: #000000;
}
.--centralized-text{
    text-align: center;
}
.--root-banner{
    display: none;
}
.--root-post{
    padding: 1rem 0 1rem 0;
    margin: 3rem 0 0 0;
    width: 100%;
}
.--flex-end-self{
    align-self: flex-end;
}
.--central{
    width: 90%;
    margin:  1.5rem 0 0 0;
}
.--top-thin-borders{
    border-top: .05rem solid #c4c4c4;
    content: "";
}
.--bottom-thin-borders{
    border-bottom: .05rem solid #c4c4c4;
    content: "";
}
.--thin-borders{
    border: .05rem solid #c4c4c4;
}
.--two-to-one{
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "big-left big-left"
    "top-small-right top-small-right"
    "bottom-small-left bottom-small-right";

    & .--big-left{
        grid-area: big-left;
        background-size: 100% 16rem;
        height: 16rem;
        margin: 0 0 1.5rem 0;
    }
    & .--small-top-right{
        grid-area: top-small-right;
        background-size: 100% 16rem;
        height: 16rem;
        margin: 0 0 1.5rem 0;
    }
    & .--small-bottom-halfed-left{
        grid-area: bottom-small-left;
        background-size: 100% 16rem;
        height: 16rem;
        margin: 0 .5rem 0 0;
    }
    & .--small-bottom-halfed-right{
        grid-area: bottom-small-right;
        background-size: 100% 16rem;
        height: 16rem;
        margin: 0 0 0 .5rem;
    }
}
.--post{
    & .page__banner-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    & .page__banner-title{
        width: 90%;
        margin: 1rem 0 0 .6rem;
        font-size: 1.4rem;
    }
    & .page__banner-info{
        display: flex;
        flex-direction: row;
        margin: .5rem 0 .5rem .6rem;

        & .page__banner-text{
            margin: 0 2rem .3rem 0;
        }
    }
}
.--podcast{
    & .page__banner-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    & .page__banner-title{
        width: 90%;
        margin: 0 0 1rem .6rem;
        font-size: 1.4rem;
    }
    & .page__banner-info{
        margin: .5rem 0 .5rem .6rem;

        & .page__banner-text{
            margin: 0 2rem .3rem 0;
        }
    }
}
.--course{
    & .page__banner-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    & .page__banner-title{
        width: 80%;
        margin: 0 0 1rem .6rem;
        font-size: 1.4rem;
    }
    & .page__banner-info{
        margin: .5rem 0 .5rem .6rem;

        & .page__banner-text{
            margin: 0 2rem .3rem 0;
        }
    }
}
.--product{
    & .page__banner-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    & .page__banner-title{
        width: 70%;
        margin: .5rem 0 1rem .6rem;
        font-size: 1.4rem;
    }
    & .page__banner-info{
        display: flex;
        flex-direction: row;
        margin: 0 0 .7rem .6rem;

        & .page__banner-text{
            font-size: 0.7rem;
            margin: 0 .5rem 0 0;
        }
    }
}
.--spaced-top{
    margin: 6rem 0 0 0;
}
.--type-info{
    font-family: 'ProximaNova-SemiBold';
    font-size: .6rem;
    margin: 0 0 .5rem 0;
}
.--title-info{
    font-family: 'ProximaNova-Regular';
    font-size: 1rem;
}
.--user-info{
    font-family: 'ProximaNova-Bold';
    font-size: .7rem;
    margin: .5rem 0 0 0;
}
.--price-info{
    font-family: 'ProximaNova-Bold';
    font-size: 1rem;
    margin: .5rem 0 0 0;
}
@media (min-width: 801px){
    .--central{
        width: 65%;
        margin:  5vh 0 0 0;
    }
    .--root-banner{
        display: block;
        padding: 1.5vh 5vh 1.2vh 5vh;
        margin: 2.3vh 0 0 0;
    }
    .--root-post{
        padding: 2vh 4vh 1.5vh 4vh;
        margin: 5vh 0 0 0;
        width: 25%;
    }
    .--top-thin-borders{
        border-top: .1vh solid #c4c4c4;
    }
    .--bottom-thin-borders{
        border-bottom: .1vh solid #c4c4c4;
    }
    .--thin-borders{
        border: .1vh solid #c4c4c4;
    }
    .--two-to-one{
        grid-template-columns: 67% 16.5% 16.5%;
        grid-template-rows: auto 30vh;
        grid-template-areas: 
        "big-left top-small-right top-small-right"
        "big-left bottom-small-left bottom-small-right";

        & .--big-left{
            background-size: 100% 57vh;
            height: 57vh;
            margin: 0 1vh 0 0;
        }
        & .--small-top-right{
            background-size: 100% 25vh;
            height: 25vh;
            margin: 0 0 2vh 1vh;
        }
        & .--small-bottom-halfed-left{
            margin: 0 1vh 0 1vh;
            background-size: 100% 30vh;
            height: 30vh;
        }
        & .--small-bottom-halfed-right{
            margin: 0 0 0 1vh;
            background-size: 100% 30vh;
            height: 30vh;
        }
    }
    .--post{
        & .page__banner-title{
            margin: 0 2vh 0 2vh;
            font-size: 4vh;
        }
        & .page__banner-info{
            margin: 2vh 2vh 0 2vh;

            & .page__banner-text{
                margin: 0 4vh 2vh 0;
            }
        }
    }
    .--podcast{
        & .page__banner-title{
            margin: 0 0 .6vh 1vh;
            font-size: 2.4vh;

            & .page__banner-text{
                margin: 0;
                font-size: 1.5vh;
            }
        }
        & .page__banner-info{
            margin: 0 0 1.5vh 1vh;
        }
    }
    .--course{
        & .page__banner-title{
            margin: 0 0 .6vh 1vh;
            font-size: 2.5vh;
        }
        & .page__banner-info{
            margin: 0 0 1.5vh 1vh;

            & .page__banner-text{
                margin: 0;
                font-size: 1.5vh;
            }
        }
    }
    .--product{
        & .page__banner-title{
            margin: 1vh 0 .6vh 1vh;
            font-size: 2.5vh;
        }
        & .page__banner-info{
            margin: 0 0 1vh 1vh;

            & .page__banner-text{
                margin: 0 1vh 0 0;
                font-size: 1.5vh;
            }
        }
    }
    .--spaced-top{
        margin: 15vh 0 0 0;
    }
    .--type-info{
        font-size: 1.3vh;
        margin: 0 0 1vh 0;
    }
    .--title-info{
        font-size: 2.7vh;
        border-bottom: .4vh solid transparent;
    }
    .--user-info{
        font-size: 1.4vh;
        margin: 1vh 0 0 0;
    }
    .--price-info{
        font-size: 2vh;
        margin: 1vh 0 0 0;
    }
}