//Mods
@import './mods';

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__place-holder{
        font-family: 'ProximaNova-Regular';
        margin: 2rem 0 0 0;
        font-size: 2.5rem;
    }
    &__banner{
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: 33rem;
        height: 4.3rem;
        padding: 1.5rem 0 1rem 0;
        width: 100%;

        &-headline{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 .5rem 0 0;
        }
        &-content{
            background: linear-gradient(0deg, rgba(0,0,0,0.65) 60%, rgba(255,255,255,0) 100%);
            text-decoration: none;
            color: inherit;
        }
        &-title{
            font-family: 'Chloe-Regular';
            font-size: 1rem;
            width: 8rem;
        }
        &-text{
            font-family: 'ProximaNova-Regular';
            font-size: .8rem;
            margin: 1rem 0 0 0;

            & .page__banner-info{
                display: flex;
                flex-direction: row;
            }
        }
    }
    &__cluster{
        display: grid;
        grid-template-rows: auto;
    }
    &__node{
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
    }
    &__button{
        font-family: 'ProximaNova-Semibold';
        background-color: #73A8A0;
        text-decoration: none;
        
        &-foward{
            margin: 0 0 0 .7rem;
        }
        &-play{
            display: none;
        }
    }
    &__filler{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        margin: 1rem 0 1rem 0;
        width: 100%;

        &-content{
            display: flex;
            margin: .6rem 0 .6rem 0;
            width: 100rem;
        }
        &-product{
            display: flex;
            flex-direction: column;
            width: 8rem;
            margin: 0 0 0 1rem;

            & a{
                text-decoration: none;
            }
            &-image{
                width: 100%;
                height: 7rem;
            }
            &-name{
                font-family: 'ProximaNova-Regular';
                font-size: .7rem;
                margin: .5rem 0 0 0;
            }
            &-info{
                font-family: 'ProximaNova-Regular';
                font-size: .6rem;
            }
            &-price{
                font-family: 'ProximaNova-Regular';
                font-size: .7rem;
                margin: .5rem 0 0 0;
            }
        }
        &-info{
            width: 40%;
            text-align: center;

            & .page__banner-text{
                font-size: 0.85rem;
                margin: 50% 0 0 0;
                width: 100%;
            }
            & .page__banner-title{
                font-size: 1.5rem;
                width: 100%;
            }
        }
    }
    &__post{
        display: flex;
        align-items: center;
        flex-direction: column;
        
        &-title{
            font-family: 'Chloe-Regular';
            background-color: white;
            font-size: 2.6rem;
            margin: -1.5rem 0 3rem 0;
            padding: 0 1vh 0 1vh;
        }
        &-info{
            font-family: 'ProximaNova-Regular';
            display: flex;
            align-content: space-between;
            width: 100%;
        }
        &-banner{
            width: 105%;
            height: 15rem;
        }
        &-type{
            margin: 0 auto 0 0;
        }
        &-onwership{
            margin: 0 0 0 auto;
        }
        &-article{
            text-align:justify;
            margin: 2rem 0 0 0;

            & p{
                margin: 0 0 1rem 0 ;
            }
            &-text{
                font-family: 'Adamina-Regular';
                font-size: 1rem;
            }
            &-title{
                font-family: 'ProximaNova-Bold';
                font-size: 1.7rem;
            }
        }
    }
    &__product{
        display: flex;
        flex-direction: row;
        margin: 3rem 0 0 0;

        &-info{
            text-align: center;
            align-self: flex-end;
            font-family: 'ProximaNova-Regular';
            margin: 0 0 0 2rem;
        }
    }
    &__redirector{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        margin: 0 0 2rem 0;
    }
    &__type{
        &-post{
            width: 100%;
            & .page__redirector-info{
                display: flex;
                flex-direction: column;
            }
            & .page__redirector-banner{
                margin: 0 0 0 auto;
                width: 10rem;
                height: 5rem;
            }
        }
        &-product{
            width: 100%;

            & .--title-info{
                font-size: 1rem;
            }
            & .page__redirector-info{
                padding: 2rem 0 0 .5rem;
            }
            & .page__redirector-banner{
                margin: 0 0 0 auto;
                width: 6.3rem;
                height: 6.3rem;
            }
        }
        &-podcast{
            width: 100%;
            & .page__redirector-banner{
                display: flex;
                background-size: 8rem 5rem;
                margin: 0 0 0 auto;
                width: 20rem;
                height: 5rem;
            }
        }
    }
    &__podcast {
        display: flex;
        width: 105%;
        height: 15rem;
        margin: -15rem 0 0 0;
        
        & .player{
            align-self: flex-end;
            margin: auto;
        }
    }
}
@media (min-width: 768px){
    .page{
        &__banner{
            &-headline{
                margin: 0 5rem 0 0;
            }
        }
    }
}
@media (min-width: 801px){
    .page{
        &__place-holder{
            margin: 5vh 0 0 0;
            font-size: 3vh;
        }
        &__banner{
            height: 20.5vh;
            background-size: 128vh;
            padding: 3vh 0 3vh 0;

            &-headline{
                margin: 0 20vh 0 0;
            }
            &-title{
                font-size: 4vh;
                width: 35vh;
            }
            &-text{
                font-size: 2vh;
                margin: 2.3vh 0 0 0;
            }
            &-content{
                &:hover{
                    transition: all ease-in-out 100ms;
                    background: linear-gradient(0deg, rgba(0,0,0,0.65) 70%, rgba(255,255,255,0) 100%);
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
        &__button{
            font-size: 2vh;
            
            &:hover{
                cursor: pointer;
                background-color: #7bb3aa;
            }
            &-play{
                display: inline-block;
                visibility: hidden;
                margin: auto;
                width: 10vh;
                height: 10vh;
            }
        }
        &__filler{
            margin: 2vh 0 2vh 0;
            overflow-x: auto;

            &-content{
                margin: 1vh 0 1vh 0;
                width: 100%;
            }
            &-product{
                width: auto;
                border-bottom: .1vh solid transparent;

                &:hover{
                    cursor: pointer;
                    border-bottom: .1vh solid #c4c4c4;
                }
                &-image{
                    height: 15vh;
                }
                &-name{
                    margin: .8vh 0 0 0;
                    font-size: 1.6vh;
                }
                &-info{
                    margin: .5vh 0 0 0;
                    font-size: 1.4vh;
                }
                &-price{
                    margin: 1vh 0 0 0;
                    font-size: 1.5vh;
                }
            }
            &-info{
                width: 18%;

                & .page__banner-text{
                    font-size: 1.65vh;
                    width: 100%;
                }
                & .page__banner-title{
                    font-size: 3vh;
                }
            }
        }
        &__post{
            &-title{
                font-size: 5vh;
                margin: -3vh 0 5vh 0; 
                padding: 0 1vh 0 1vh;
            }
            &-banner{
                width: 100%;
                height: 70vh;
            }   
            &-article{
                margin: 5vh 0 0 0;

                & p{
                    margin: 0 0 2vh 0;
                }
                &-text{
                    font-size: 2vh;
                }
                &-title{
                    font-size: 3vh;
                }
            } 
        }
        &__product{
            margin: 6vh 0 0 0;

            &-info{
                margin: 0 0 0 4vh;
            }
        }
        &__redirector{
            margin: 0 0 4vh 0;
        }
        &__type{
            &-post{
                &:hover{
                    box-shadow: 1.5vh 1.5vh 2.5vh #d9d9d9, 
                                -1.5vh -1.5vh 3.5vh #ffff;
                    transition: box-shadow .3s ease-in-out;
                    -moz-transition: box-shadow .3s ease-in-out;
                }
                &:hover .--title-info{
                    border-color: #73A8A0;
                }
                & .page__redirector-info{
                    display: flex;
                    flex-direction: column;
                    padding: 6vh 0 5vh 5vh;
                }
                & .page__redirector-banner{
                    margin: 0 0 0 auto;
                    width: 30vh;
                    height: 20vh;
                }
            }
            &-product{
                width: 80%;

                &:hover{
                    box-shadow: 1.5vh 1.5vh 2.5vh #d9d9d9, 
                                -1.5vh -1.5vh 3.5vh #ffff;
                    transition: box-shadow .3s ease-in-out;
                    -moz-transition: box-shadow .3s ease-in-out;
                }
                &:hover .--title-info{
                    border-color: #73A8A0;
                }
                & .--title-info{
                    font-size: 2vh;
                }
                & .page__redirector-info{
                    padding: 6vh 0 0 5vh;
                }
                & .page__redirector-banner{
                    width: 16vh;
                    height: 16vh;
                }
            }
            &-podcast{ 
                &:hover{
                    box-shadow: 1.5vh 1.5vh 2.5vh #d9d9d9, 
                                -1.5vh -1.5vh 3.5vh #ffff;
                    transition: all .3s ease-in-out;
                    -moz-transition: box-shadow .3s ease-in-out;
                }
                &:hover .page__redirector-banner{
                    opacity: 0.8;
                }
                &:hover .page__button-play{
                    visibility: visible;
                }
                &:hover .--title-info{
                    border-color: #73A8A0;
                }
                & .page__redirector-info{
                    display: flex;
                    flex-direction: column;
                    padding: 6vh 0 5vh 5vh;
                }
                & .page__redirector-banner{
                    display: flex;
                    background-size: 30vh 20vh;
                    margin: 0 0 0 auto;
                    width: 30vh;
                    height: 20vh;
                }
            }
        }
        &__podcast {
            height: 70vh;
            width: 100%;
            margin: -70vh 0 0 0;
        }
    }
}