.--light-text{
    color: #ffffff;
}
.--grey-text{
    color: #666666;
}
.--dark-text{
    color: #000000;
}
.--centralized-text{
    text-align: center;
}
.--root-banner{
    display: none;
}
.--root-post{
    padding: 1rem 0 1rem 0;
    margin: 3rem 0 0 0;
    width: 100%;
}
.--first-post{
    background-image: url('../../assets/images/post/bg-post1.jpg');
}
.--post{
    background-image: url('../../assets/images/post/bg-post2.jpg');
}
.--podcast{
    background-image: url('../../assets/images/post/bg-post3.jpg');
}
.--course{
    background-image: url('../../assets/images/post/bg-post4.jpg');
}
.--product{
    background-image: url('../../assets/images/product/bg-product1.jpg');
}
.--flex-end-self{
    align-self: flex-end;
}
.--central{
    width: 90%;
    margin:  1.5rem 0 0 0;
}
.--top-thin-borders{
    border-top: .05rem solid #c4c4c4;
    content: "";
}
.--bottom-thin-borders{
    border-bottom: .05rem solid #c4c4c4;
    content: "";
}
.--thin-borders{
    border: .05rem solid #c4c4c4;
}
.--two-to-one{
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "post post"
    "podcast podcast"
    "course product";
}
.--post{
    grid-area: post;
    background-size: 100% 16rem;
    height: 16rem;
    margin: 0 0 1.5rem 0;

    & .page__banner-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    & .page__banner-title{
        width: 90%;
        margin: 1rem 0 0 .6rem;
        font-size: 1.4rem;
    }
    & .page__banner-info{
        display: flex;
        flex-direction: row;
        margin: .5rem 0 .5rem .6rem;

        & .page__banner-text{
            margin: 0 2rem .3rem 0;
        }
    }
}
.--podcast{
    grid-area: podcast;
    background-size: 100% 16rem;
    height: 16rem;
    margin: 0 0 1.5rem 0;

    & .page__banner-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    & .page__banner-title{
        width: 90%;
        margin: 0 0 1rem .6rem;
        font-size: 1.4rem;
    }
    & .page__banner-info{
        margin: .5rem 0 .5rem .6rem;

        & .page__banner-text{
            margin: 0 2rem .3rem 0;
        }
    }
}
.--course{
    grid-area: course;
    background-size: 100% 16rem;
    height: 16rem;
    margin: 0 .5rem 0 0;

    & .page__banner-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    & .page__banner-title{
        width: 70%;
        margin: 0 0 1rem .6rem;
        font-size: 1.4rem;
    }
    & .page__banner-info{
        margin: .5rem 0 .5rem .6rem;

        & .page__banner-text{
            margin: 0 2rem .3rem 0;
        }
    }
}
.--product{
    grid-area: product;
    background-size: 100% 16rem;
    height: 16rem;
    margin: 0 0 0 .5rem;

    & .page__banner-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    & .page__banner-title{
        width: 70%;
        margin: .5rem 0 1rem .6rem;
        font-size: 1.4rem;
    }
    & .page__banner-info{
        display: flex;
        flex-direction: row;
        margin: 0 0 .7rem .6rem;

        & .page__banner-text{
            font-size: 0.7rem;
            margin: 0 .5rem 0 0;
        }
    }
}
.--spaced-top{
    margin: 6rem 0 0 0;
}
@media (min-width: 801px){
    .--central{
        width: 65%;
        margin:  5vh 0 0 0;
    }
    .--root-banner{
        display: block;
        padding: 1.5vh 5vh 1.2vh 5vh;
        margin: 2.3vh 0 0 0;
    }
    .--root-post{
        padding: 2vh 4vh 1.5vh 4vh;
        margin: 5vh 0 0 0;
        width: 20%;
    }
    .--top-thin-borders{
        border-top: .1vh solid #c4c4c4;
    }
    .--bottom-thin-borders{
        border-bottom: .1vh solid #c4c4c4;
    }
    .--thin-borders{
        border: .1vh solid #c4c4c4;
    }
    .--two-to-one{
        grid-template-columns: 67% 16.5% 16.5%;
        grid-template-rows: auto 30vh;
        grid-template-areas: 
        "post podcast podcast"
        "post course product";
    }
    .--post{
        background-size: 100% 57vh;
        height: 57vh;
        margin: 0 1vh 0 0;

        & .page__banner-title{
            margin: 0 2vh 0 2vh;
            font-size: 4vh;
        }
        & .page__banner-info{
            margin: 2vh 2vh 0 2vh;

            & .page__banner-text{
                margin: 0 4vh 2vh 0;
            }
        }
    }
    .--podcast{
        background-size: 100% 25vh;
        height: 25vh;
        margin: 0 0 2vh 1vh;

        & .page__banner-title{
            margin: 0 0 .6vh 1vh;
            font-size: 2.4vh;

            & .page__banner-text{
                margin: 0;
                font-size: 1.5vh;
            }
        }
        & .page__banner-info{
            margin: 0 0 1.5vh 1vh;
        }
    }
    .--course{
        margin: 0 1vh 0 1vh;
        background-size: 100% 30vh;
        height: 30vh;

        & .page__banner-title{
            margin: 0 0 .6vh 1vh;
            font-size: 2.5vh;
        }
        & .page__banner-info{
            margin: 0 0 1.5vh 1vh;

            & .page__banner-text{
                margin: 0;
                font-size: 1.5vh;
            }
        }
    }
    .--product{
        margin: 0 0 0 1vh;
        background-size: 100% 30vh;
        height: 30vh;

        & .page__banner-title{
            margin: 1vh 0 .6vh 1vh;
            font-size: 2.5vh;
        }
        & .page__banner-info{
            margin: 0 0 1vh 1vh;

            & .page__banner-text{
                margin: 0 1vh 0 0;
                font-size: 1.5vh;
            }
        }
    }
    .--spaced-top{
        margin: 15vh 0 0 0;
    }
}