.like-button{
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 0.70;
    width: 2.2rem;
    height: 2.2rem;
    & svg{
        width: 1.2rem;
        height: 1.2rem;
        align-self: center;
        margin: auto 0 auto 0;
    }
}
@media (min-width: 801px){
    .like-button{
        width: 4vh;
        height: 4vh;

        &:hover{
            cursor: pointer;
        }
        &:active path{
            fill: #ff0000;
        }
        &:hover path:nth-child(1){
            fill: #ff0000;
        }
        & svg{
            width: 2.3vh;
            height: 2.2vh;
            margin: auto 0 auto 0;
        }
    }
}