.player{
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
    width: 100%;

    &__button{
        align-self: center;
        border-radius: 50%;
        transition: border-width ease-in .1s;
        background-color: rgba(0,0,0,0.75);
        border: none;
        outline: none;
        margin: 5rem 0 auto 0;
        padding: .1rem 0 0 .1rem;
        width: 5rem;
        height: 5rem;
    }
    &__background{
        width: 2.5rem;
        height: 3rem;
    }
    &-controller{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        background: linear-gradient(0deg, rgba(0,0,0,0.7) 45%, rgba(0,0,0,0.45) 70%, rgba(255,255,255,0) 100%);
        padding: 1.5rem .6rem .6rem .6rem;
        gap: .3rem 0;
        
        &__bar{
            background-color: rgb(218, 218, 218);
            width: 100%;
            height: .4rem;
            margin: 0 0 .2rem 0;

            &-status{
                -webkit-transition: width ease-in-out .2s;
                -moz-transition: width ease-in-out .2s;
                -ms-transition: width ease-in-out .2s;
                -o-transition: width ease-in-out .2s;
                transition: width ease-in-out .2s;
                height: 100%;
                background-color: #73A8A0;
            }
        }
        & span{
            align-self: center;
            font-family: 'ProximaNova-Semibold';
            font-size: .8rem;
            width: 5rem;
            margin: 0 0 0 auto;
            text-align: end;
        }
        &__status{
            display: flex;
            flex-direction: row;
            padding: 0 .6rem 0 .6rem;
        }
        &__volume{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0 .7rem;

            & svg{
                width: 1.2rem;
            }
            &-bar{
                background-color: #dadada;
                width: 4rem;
                height: .4rem;

                &-status{
                    -webkit-transition: height ease-in-out .05s;
                    -moz-transition: height ease-in-out .05s;
                    -ms-transition: height ease-in-out .05s;
                    -o-transition: height ease-in-out .05s;
                    transition: height ease-in-out .05s;
                    height: 100%;
                    background-color: #73A8A0;
                }
            }
        }
    }
}
@media (min-width: 801px){
    .player{
        &__button{
            width: 17vh;
            height: 17vh;
            padding: 0 0 0 .8vh;
            margin-top: 25vh;

            &:hover{
                cursor: pointer;
            }
        }
        &__background{
            width: 8vh;
            height: 10vh;
        }
        &-controller{
            padding: 3vh 1vh 1vh 1vh;
            gap: .6vh 0;
            
            &__bar{
                height: .8vh;
                margin: 0 0 .3vh 0;

                &:hover{
                    cursor: pointer;
                }
            }
            & span{
                font-size: 1.7vh;
                width: 11vh;
            }
            &__status{
                padding: 0 1vh 0 1vh;
            }
            &__volume{
                gap: 0 1vh;
    
                &:hover{
                    cursor: pointer;
                }
                & svg{
                    width: 2.3vh;
    
                    &:hover path{
                        fill:  #73A8A0;
                    }
                }
                &-bar{
                    width: 8vh;
                    height: .8vh;
                }
            }
        }
    }
}