.cart{
    &__status{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 50%; 
        background-color: #73A8A0;
        color: white;
        width: 1.2rem;
        height: 1.2rem;
        font-size: .6rem;
        margin: -1.15rem auto 0 auto;
    }
    &__feedback{
        font-family: 'ProximaNova-Semibold';
        text-align: center;
        color: rgb(108, 108, 108);
        font-size: 2rem;
    }
}
@media (min-width: 801px){
    .cart{
        &__status{
            width: 100%;
            height: 2.5vh;
            font-size: 1vh;
            margin: -1.8vh 0 0 0;
        }
        &__feedback{
            font-size: 4vh;
        }
    }
}