.hamburguer-menu{
    &__button{
        background-color: transparent;
        outline: none;
        border: none;
        padding: 0;

        & svg{
            width: 1.2rem;
            height: 1.2rem;
        }
    }
    &__items{
        position: absolute;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        top: 5rem;
        left: 0;
        gap: 1.25rem 0;
        padding: 1rem 0 1rem 0;
        border-bottom: .1rem solid #C4C4C4;

        & li{
            font-size: 1.1rem;
            text-align: center;

            & a{
                display: inline-block;
                width: 100%;
            }
        }
    }
}
@media (min-width: 801px){
    .hamburguer-menu{
        display: none;
    }
}