.hamburguer-menu{
    &__button{
        background-color: transparent;
        outline: none;
        border: none;
        padding: 0;

        & svg{
            width: 1.2rem;
            height: 1.2rem;
        }
    }
    &__items{
        position: absolute;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        top: 4.75rem;
        left: 0;
        gap: 1.25rem 0;
        padding: 1rem 0 1rem 0;
        border-bottom: .1rem solid #C4C4C4;

        & li{
            font-size: 1.1rem;
            text-align: center;

            & a{
                display: inline-block;
                width: 100%;
            }
        }
    }
    &__misc-items{
        width: 80%;
        display: flex;
        flex-direction: row;
        padding: .2rem 1rem .2rem 1rem;
        margin: 0 auto 0 auto;

        & li{
            margin: 0 auto 0 auto;
        }
        & img{
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
.--is-active{
    & button:first-child svg{
        & path{
            -webkit-transition: transform ease-in-out .2s;
            -moz-transition: transform ease-in-out .2s;
            -ms-transition: transform ease-in-out .2s;
            -o-transition: transform ease-in-out .2s;
            transition: transform ease-in-out .2s;
        }
        & path:nth-child(1){
            -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
        }
        & path:nth-child(2){
            -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
        }
    }
}
@media (min-width: 801px){
    .hamburguer-menu{
        display: none;
    }
}