.navbar{
    font-family: 'ProximaNova-Semibold';
    background-color: transparent;
    width: 100%;
    border-bottom: .05rem solid #C4C4C4;
    padding: 0 0 1rem 0;

    &__buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem 0 0 0;
        padding: 0 1rem;
    }
    &__redirectors{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0 1.5rem;
        font-size: .8rem;
    }
    &__redirector{
        & a{
            color: #666666;
            text-decoration: none;
            padding: 0 0 .2rem 0;
            border-bottom: solid .2rem transparent;
        }
    }
    &__logo{
        margin: 0 auto 0 0;
        width: 5rem;
        height: 100%;
    }
    &__image{
        width: 1.2rem;
        height: 1rem;
    }
}
@media (min-width: 801px){
    .navbar{
        padding: 0 0 2vh 0;
        border-bottom: .2vh solid #C4C4C4;

        &__redirectors{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0 8vh;
            font-size: 1.5vh;
        }
        &__buttons{
            margin: 2.5vh 0 0 0;
            padding: 0 10vh;
        }
        &__redirector{
            & a{
                padding: 0 0 .6vh 0;
                border-bottom: solid .4vh transparent;

                &:hover{
                    opacity: 0.6;
                }
            }
        } 
        &__logo{
            width: 10vh;
            margin: 0 auto 0 auto;

            &:hover{
                opacity: 0.6;
            }
        }
        &__image{
            width: 2vh;
            height: 2vh;
        }
    }
}
.--active{
    color: black !important;
    border-color: #73A8A0 !important;
}
.--reverse{
    margin: 0 0 0 auto;
}