.navbar{
    font-family: 'ProximaNova-Semibold';
    background-color: transparent;
    width: 100%;
    border-bottom: .05rem solid #C4C4C4;
    padding: 0 0 1rem 0;

    &__buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem 0 0 0;
        padding: 0 1rem;
    }
    &__redirectors{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0 1.5rem;
        font-size: .8rem;
    }
    &__redirector{
        & a{
            color: #666666;
            text-decoration: none;
            padding: 0 0 .2rem 0;
            border-bottom: solid .2rem transparent;
        }
    }
    &__logo{
        margin: 0 auto 0 0;

        & svg{
            width: 5rem !important;
            height: 2.5rem !important;
        }
    }
    & svg{
        width: 1.3rem;
        height: 1.4rem;
    }
}
#redirectors-views{
    display: none;
}
#wishlist-redirector .--active path{
    fill: red;
}
@media (min-width: 801px){
    .navbar{
        padding: 0 0 1.5vh 0;
        border-bottom: .2vh solid #C4C4C4;

        &__redirectors{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0 8vh;
            font-size: 1.5vh;
        }
        &__buttons{
            margin: 2vh 0 0 0;
            padding: 0 10vh;
        }
        &__redirector{
            -webkit-transition: fill ease-in-out .2s;
            -moz-transition: fill ease-in-out .2s;
            -ms-transition: fill ease-in-out .2s;
            -o-transition: fill ease-in-out .2s;
            transition: fill ease-in-out .2s;
            
            & a{
                padding: 0 0 .6vh 0;
                border-bottom: solid .4vh transparent;
            }
        } 
        &__logo{
            margin: 0 auto 0 auto;

            & svg{
                width: 14vh !important;
                height: 6.5vh !important;
            }
            &:hover path{
                fill: #73A8A0;
            }
        }
        & svg{
            width: 2.7vh;
            height: 2.7vh;
        }
    }
    #redirectors-views{
        display: flex;
        
        & li:hover{
            opacity: 0.6;
        }
    }
    #redirectors-misc{
        & li:hover path{
            fill: #73A8A0;
        }
        & li:nth-child(4):hover path{
            fill: red;
        }
    }
}
.--active{
    color: black !important;
    border-color: #73A8A0 !important;
}
.--reverse{
    margin: 0 0 0 auto;
}